---
---
<header class="bg-zinc-900 flex flex-col p-20 md:flex-row gap-3 md:gap-20 text-center md:text-left rounded-xl">
   <div>
        <h1 class="text-5xl font-bold mb-2">
            Protect your password
        </h1>
        <p class="my-4 text-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quae.
        </p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400" >Start Now</button>
   </div>
    <img src='img/finger.svg' class="w-80" alt='' loading='lazy' decoding='async' />  
</header>